absl-py==2.1.0
biopython==1.85
chex==0.1.89
dm-haiku==0.0.13
dm-tree==0.1.9
docker==7.1.0
flax==0.10.4
immutabledict==4.2.1
jax==0.4.29
jaxlib==0.4.29
ml-collections==1.0.0
numpy>=1.24.3
pandas==2.2.3
setuptools<72.0.0
scipy==1.15.2
tensorflow-cpu==2.18.0
